---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="About Us">
    <main>
        <h1 class="text-gradient">About Us</h1>
        <p>
            Astro is a new kind of static site builder that delivers lightning-fast performance with a modern developer experience. We believe that the future of the web is static, and we're excited to help you build the next generation of websites and apps.
        </p>
        <p>
            Astro is built by a small team of passionate developers who are dedicated to making the web faster and more enjoyable for everyone. We're always looking for new contributors to help us build the best tools for the web, so if you're interested in getting involved, please don't hesitate to reach out.
        </p>
        <p>
            If you have any questions or feedback about Astro, please don't hesitate to <a href="https://astro.build/chat/">reach out</a> to us. We're always happy to help and we'd love to hear from you.
        </p>
    </main>
</Layout>

<style>
    main {
        color: white;
    }
</style>