---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import "../styles/global.css";
---

<<<<<<< Updated upstream
<Layout title="Blog">
	<h1>Blog</h1>
=======
<Layout title="Blog | Brandon's Dev Blog">
	<main>
		<h1>Blog</h1>
	</main>
>>>>>>> Stashed changes
</Layout>

<style lang="scss" is:global>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;

		.main-content {
            max-width: 800px;
            margin: auto;
            text-align: center;
        }

        .link-card-grid {
            display: grid;
            grid-template-columns: 2fr 2fr;
            grid-template-rows: 2fr 2fr;
            gap: 2rem;
            padding: 0;
        }
	}	
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>