---
interface Props {
	title: string;
}
const { title } = Astro.props;

import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-S3S68GE60C"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-S3S68GE60C');
		</script>
	</head>
	<body>
		<Navigation />
		<div class="content-wrapper">
			<slot />
		</div>
		<Footer />
	</body>
</html>

<style lang="scss" is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}
	
	body {
		margin: 0 !important;
		padding: 0 !important;
		flex: 1;
		display: flex;
		flex-direction: column;
	}
	
	.content-wrapper {
		flex: 1;
		padding-top: 60px; /* Same as navbar height */
	}
	
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
